<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TraceA</key>
	<array>
		<string>Dejvická</string>
		<string>Hradčanská</string>
		<string>Malostranská</string>
		<string>Staroměstská</string>
		<string>Můstek</string>
		<string>Muzeum</string>
		<string>Náměstí Míru</string>
		<string>Jiřího z Poděbrad</string>
		<string>Flora</string>
		<string>Želivského</string>
		<string>Strašnická</string>
		<string>Skalka</string>
		<string>Depo Hostivař</string>
	</array>
	<key>TraceB</key>
	<array>
		<string>Zličín</string>
		<string>Stodůlky</string>
		<string>Luka</string>
		<string>Lužiny</string>
		<string>Hůrka</string>
		<string>Nové Butovice</string>
		<string>Jinonice</string>
		<string>Radlická</string>
		<string>Smíchovské nádraží</string>
		<string>Anděl</string>
		<string>Karlovo náměstí</string>
		<string>Národní třída</string>
		<string>Můstek</string>
		<string>Náměstí Republiky</string>
		<string>Florenc</string>
		<string>Křižíkova</string>
		<string>Invalidovna</string>
		<string>Palmovka</string>
		<string>Českomoravská</string>
		<string>Vysočanská</string>
		<string>Kolbenova</string>
		<string>Hloubětín</string>
		<string>Rajská zahrada</string>
		<string>Černý most</string>
	</array>
	<key>TraceC</key>
	<array>
		<string>Letňany</string>
		<string>Prosek</string>
		<string>Střížkov</string>
		<string>Ládví</string>
		<string>Kobylisy</string>
		<string>Nádraží Holešovice</string>
		<string>Vltavská</string>
		<string>Florenc</string>
		<string>Hlavní nádraží</string>
		<string>Muzeum</string>
		<string>I.P. Pavlova</string>
		<string>Vyšehrad</string>
		<string>Pražského povstání</string>
		<string>Pankrác</string>
		<string>Budějovická</string>
		<string>Kačerov</string>
		<string>Roztyly</string>
		<string>Chodov</string>
		<string>Opatov</string>
		<string>Háje</string>
	</array>
	<key>StationsDetails</key>
	<array>
		<dict>
			<key>name</key>
			<string>Muzeum</string>
			<key>lat</key>
			<string>50.0792892</string>
			<key>lng</key>
			<string>14.4237175</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Můstek</string>
			<key>lat</key>
			<string>50.0839703</string>
			<key>lng</key>
			<string>14.4234614</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Florenc</string>
			<key>lat</key>
			<string>50.0907572</string>
			<key>lng</key>
			<string>14.4395367</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dejvická</string>
			<key>lat</key>
			<string>50.1004672</string>
			<key>lng</key>
			<string>14.3932314</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hradčanská</string>
			<key>lat</key>
			<string>50.0971131</string>
			<key>lng</key>
			<string>14.4037322</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Malostranská</string>
			<key>lat</key>
			<string>50.0909122</string>
			<key>lng</key>
			<string>14.4091425</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Staroměstská</string>
			<key>lat</key>
			<string>50.0884039</string>
			<key>lng</key>
			<string>14.4164283</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Náměstí Míru</string>
			<key>lat</key>
			<string>50.0753900</string>
			<key>lng</key>
			<string>14.4384019</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jiřího z Poděbrad</string>
			<key>lat</key>
			<string>50.0773817</string>
			<key>lng</key>
			<string>14.4495456</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Flora</string>
			<key>lat</key>
			<string>50.0778722</string>
			<key>lng</key>
			<string>14.4621044</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Želivského</string>
			<key>lat</key>
			<string>50.0783844</string>
			<key>lng</key>
			<string>14.4747892</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Strašnická</string>
			<key>lat</key>
			<string>50.0729133</string>
			<key>lng</key>
			<string>14.4913250</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Skalka</string>
			<key>lat</key>
			<string>50.0682964</string>
			<key>lng</key>
			<string>14.5073314</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Depo Hostivař</string>
			<key>lat</key>
			<string>50.0753142</string>
			<key>lng</key>
			<string>14.5154072</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zličín</string>
			<key>lat</key>
			<string>50.0535711</string>
			<key>lng</key>
			<string>14.2906681</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stodůlky</string>
			<key>lat</key>
			<string>50.0464358</string>
			<key>lng</key>
			<string>14.3065281</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Luka</string>
			<key>lat</key>
			<string>50.0456411</string>
			<key>lng</key>
			<string>14.3212047</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lužiny</string>
			<key>lat</key>
			<string>50.0443661</string>
			<key>lng</key>
			<string>14.3308597</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hůrka</string>
			<key>lat</key>
			<string>50.0498092</string>
			<key>lng</key>
			<string>14.3421819</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nové Butovice</string>
			<key>lat</key>
			<string>50.0507375</string>
			<key>lng</key>
			<string>14.3520867</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jinonice</string>
			<key>lat</key>
			<string>50.0543361</string>
			<key>lng</key>
			<string>14.3702681</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Radlická</string>
			<key>lat</key>
			<string>50.0581064</string>
			<key>lng</key>
			<string>14.3891067</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Smíchovské nádraží</string>
			<key>lat</key>
			<string>50.0612583</string>
			<key>lng</key>
			<string>14.4089758</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Anděl</string>
			<key>lat</key>
			<string>50.0708397</string>
			<key>lng</key>
			<string>14.4042467</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Karlovo náměstí</string>
			<key>lat</key>
			<string>50.0752106</string>
			<key>lng</key>
			<string>14.4166025</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Národní třída</string>
			<key>lat</key>
			<string>50.0811292</string>
			<key>lng</key>
			<string>14.4203044</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Náměstí Republiky</string>
			<key>lat</key>
			<string>50.0882844</string>
			<key>lng</key>
			<string>14.4304092</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Křižíkova</string>
			<key>lat</key>
			<string>50.0934500</string>
			<key>lng</key>
			<string>14.4515983</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Invalidovna</string>
			<key>lat</key>
			<string>50.0970522</string>
			<key>lng</key>
			<string>14.4640989</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Palmovka</string>
			<key>lat</key>
			<string>50.1040786</string>
			<key>lng</key>
			<string>14.4744522</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Českomoravská</string>
			<key>lat</key>
			<string>50.1061344</string>
			<key>lng</key>
			<string>14.4928053</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vysočanská</string>
			<key>lat</key>
			<string>50.1100403</string>
			<key>lng</key>
			<string>14.5006378</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kolbenova</string>
			<key>lat</key>
			<string>50.1102028</string>
			<key>lng</key>
			<string>14.5156286</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hloubětín</string>
			<key>lat</key>
			<string>50.1065500</string>
			<key>lng</key>
			<string>14.5373831</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rajská zahrada</string>
			<key>lat</key>
			<string>50.1068031</string>
			<key>lng</key>
			<string>14.5608186</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Černý most</string>
			<key>lat</key>
			<string>50.1089419</string>
			<key>lng</key>
			<string>14.5773994</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Letňany</string>
			<key>lat</key>
			<string>50.1247069</string>
			<key>lng</key>
			<string>14.5170211</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Prosek</string>
			<key>lat</key>
			<string>50.1186942</string>
			<key>lng</key>
			<string>14.4988972</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Střížkov</string>
			<key>lat</key>
			<string>50.1258844</string>
			<key>lng</key>
			<string>14.4895606</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ládví</string>
			<key>lat</key>
			<string>50.1267458</string>
			<key>lng</key>
			<string>14.4690136</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kobylisy</string>
			<key>lat</key>
			<string>50.1240869</string>
			<key>lng</key>
			<string>14.4542422</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nádraží Holešovice</string>
			<key>lat</key>
			<string>50.1088189</string>
			<key>lng</key>
			<string>14.4398992</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vltavská</string>
			<key>lat</key>
			<string>50.0987575</string>
			<key>lng</key>
			<string>14.4386183</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hlavní nádraží</string>
			<key>lat</key>
			<string>50.0836431</string>
			<key>lng</key>
			<string>14.4339864</string>
		</dict>
		<dict>
			<key>name</key>
			<string>I.P. Pavlova</string>
			<key>lat</key>
			<string>50.0751981</string>
			<key>lng</key>
			<string>14.4303825</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Vyšehrad</string>
			<key>lat</key>
			<string>50.0630464</string>
			<key>lng</key>
			<string>14.4302328</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pražského povstání</string>
			<key>lat</key>
			<string>50.0563347</string>
			<key>lng</key>
			<string>14.4334694</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pankrác</string>
			<key>lat</key>
			<string>50.0509858</string>
			<key>lng</key>
			<string>14.4395669</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Budějovická</string>
			<key>lat</key>
			<string>50.0443186</string>
			<key>lng</key>
			<string>14.4484153</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kačerov</string>
			<key>lat</key>
			<string>50.0415133</string>
			<key>lng</key>
			<string>14.4600669</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Roztyly</string>
			<key>lat</key>
			<string>50.0374703</string>
			<key>lng</key>
			<string>14.4766739</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chodov</string>
			<key>lat</key>
			<string>50.0307186</string>
			<key>lng</key>
			<string>14.4915056</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Opatov</string>
			<key>lat</key>
			<string>50.0276992</string>
			<key>lng</key>
			<string>14.5088078</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Háje</string>
			<key>lat</key>
			<string>50.0307292</string>
			<key>lng</key>
			<string>14.5280731</string>
		</dict>
	</array>
</dict>
</plist>
